/* Värit 1.0 Tummin ---> Vaalein
#3c6749: Tummempi Amazon (teksti)
#39794c:Amazon (ei vielä käytetty)
#579459:Middle green (ei vielä käytetty)
#77bf63:Mantis (header, footer, )
#bfdb94:Medium Spring Bud (main)

*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Montserrat+Alternates&family=Oswald&family=Raleway&display=swap');

/* font-family: 'Montserrat', sans-serif;
font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Raleway', sans-serif;
 */
main {
  background-color: #bfdb94;
  color: #3c6749;
  font-family: 'Montserrat', sans-serif;
}

/* section {
    padding-left:0.5rem;
} */

header,
footer {
  background-color: #77bf63;
}

a {
  text-decoration: none;
  font-style: italic;
  color:#39794c;
  font-weight: bolder;
}

a:hover {
  text-decoration:none;
  color:#77bf63;
}

h1 {
  font-weight: 400;
  color: #3c6749;
  font-family: 'Raleway', sans-serif;
  padding-left: 0.5rem;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: #3c6749;
}

h3 {
  font-weight: 400;
  color: #3c6749;
  font-family: 'Raleway', sans-serif;
}

.nav-link,
.dropdown-item {
  font-weight: bold;
  color: #3c6749 !important;
  font-style: normal;
}

.nav-link:hover,
.dropdown-item:hover {
  color:#579459 !important;
  background-color:transparent;
}

/* container-fluid koko leveydelle */
.container-fluid {
  padding-left: 0rem;
  padding-right: 0rem;
  overflow: hidden;
}

footer {
  font-weight: 600;
  padding-top: 10px;
  font-size: 100%;
}

ul{
  list-style-type: square;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler {
    outline: none;
    box-shadow: none;
}

.btn-primary{
  background-color: #77bf63 !important;
  border-color: #3c6749  !important;
  color:#3c6749 !important
}

/* kuville hassu hover-efekti */
.image img:hover {
  transform: rotate(10deg);
}

.image img {
  border-radius:12px;
  transition: all 200ms ease-in-out;
}

.image1 img:hover {
  transform: rotate(-10deg);
}

.image1 img {
  border-radius:12px;
  transition: all 200ms ease-in-out;
}

.accordion-button:not(.collapsed) {
  background-color: #77bf63;
  color:#3c6749;
}

.accordion-button:focus{
 border-color: #77bf63 !important;

}

.ykkönen{
  background-color: #3196A2 !important;
  width:100% !important;
}
.kakkonen{
  background-color: #DDA73B !important;
  width:100% !important;
}

.bg-secondary{
 background-color: #99cc75 !important;
 color:#3c6749;
 border-radius:50px;
 margin-left:8px;
 width:initial !important;
}

::placeholder { 
  opacity: 0.5 !important; 
}

.tausta {
  background-color: #DDA73B;
}