/*
https://www.w3schools.com/howto/howto_css_parallax.asp
*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Montserrat+Alternates&family=Oswald&family=Raleway&display=swap');
body, html {
  height: 100%; /* this is a must for parallax. */
  font-family: 'Oswald', sans-serif;
  font-size: 100%;
  background-color:#bfdb94;
}

.parallax {
  position: relative;
  opacity: 0.8;
  
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container-fluid {
 overflow:visible;
}

#bgimg-1{
  background-image: url("../img/mustikkasatoa.png");
  height: 100%;
}

#bgimg-2 {
  background-image: url("../img/kukka.png");
  height: 60%;
}

#bgimg-3 {
  background-image: url("../img/pitkospuut_bg.png");
  height: 60%;
}
#bgimg-4 {
  background-image: url("../img/pilpasuo_bg.png");
  height: 100%;
}

.caption {
  position: absolute;
  left: 0%;
  top: 50%;
  width: 100%;
  text-align: center;  
}

.caption span.border {
  background-color: rgba(57, 121, 76, 0.5);
  border-radius: 2px;
  color: rgba(255,255,255, 0.9);
  padding: 12px;
  font-size: 1.5em;
  letter-spacing: 5px;
  line-height: 1em;
  border:1px solid rgba(57, 121, 76, 0.5) !important;
}

.text {
    padding: 30px 100px 30px 100px;
    position: relative;
}

.wide {
min-width: 100%;
padding:0;
}

.text h3 {
    text-align: center;
}



/* Turn off parallax scrolling for all tablets and phones. 
Increase/decrease the pixels if needed. Test what is the proper value 
for your larger screens and smaller screens. */
@media screen and (max-width: 1366px) {
    .parallax {
        background-attachment: scroll;
    }
    
    .text {
        padding: 30px 10px 30px 10px;
        position: relative;
    }     


  }